<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Flickr</title>
	<link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
<button onclick="window.location='/login'">Log in with Flickr account</button>
<button onclick="polaroids.prevPolaroid();">Prev</button>
<button onclick="polaroids.nextPolaroid();">Next</button>

<div id="map" class="map">
{{#photo}}
<img src="http://farm{{farm}}.staticflickr.com/{{server}}/{{id}}_{{secret}}_q.jpg" title="{{title}}" alt="{{title}}" class="polaroidImg" />
{{/photo}}
</div>


<script src="/js/polaroids.js"></script>
<script src="/js/map.js"></script>
<script>
var polaroids = new Polaroids('polaroidImg');
var map = new Map("map");
</script>
</body>
</html>
